[Unit]
Description=Monitor NameWebService
After=network.target

[Service]
ExecStart=/opt/spadmin/iam/scripts/sailpoint.sh
Restart=always
User=user
RestartSec=10
StandardOutput=append:/var/log/monitor.log
StandardError=append:/var/log/monitor.log

[Install]
WantedBy=multi-user.target
